In [1]:
print("Hello World")

Hello World

# Python

Today i started how to code

In [ ]:
DataTypes: the types of data which is been understood by programming languages.
    1. Numeric : Integers or floats
    2. Strings: sequence or series of chars.
    3. Boolean : True/False
    4. None : no value

In [1]:
a = 2

In [2]:
a

2

In [3]:
id(a)

140715814919744

In [4]:
type(a)

int

In [5]:
b = 45.6
b

45.6

In [6]:
type(b)

float

In [ ]:
when it comes to string datatype, we need to use quotes it can be single quote , double quote or triple squotes.

In [7]:
first_string = 'This is my first string'

In [8]:
first_string

'This is my first string'

In [9]:
type(first_string)

str

In [10]:
second_string = "This is my first string"

In [11]:
second_string

'This is my first string'

In [12]:
a = True

In [13]:
a

True

In [14]:
type(a)

bool

In [15]:
id(a)

140715814404560

In [16]:
b = True

In [17]:
b

True

In [18]:
type(b)

bool

In [19]:
id(b)

140715814404560

In [ ]:
we to adhere few rules while declaring variable.
1. variables name can only contain letters, no's and underscore.
2. They can start with a letter or an underscore but not with an number.
3. spaces are not allowed in variable names instead we can make use of underscore_
4. avoid keywords and function names as variable names.
5. keep it short and descriptive.
6. keep them in lower case.

In [ ]:
stud name = "ashish"
emp_name = "varun"
1name = 'vinay'
Name = "Amit"
n@me = "yuvraj"

In [21]:
stud_name = "ashish"

In [24]:
nam1e = 'vinay'

In [25]:
Name = "Amit"

In [27]:
n_me = "yuvraj"

In [ ]:
#We cannot use any special character like !,@,#,$,%,^,&,*
#instead of _ while declaring variable names.

In [ ]:
age = 
AGE =

In [28]:
x = y = z = "orange"

In [29]:
x

'orange'

In [30]:
y

'orange'

In [31]:
z

'orange'

In [32]:
id(x)

2335974797072

In [33]:
id(y)

2335974797072

In [34]:
id(z)

2335974797072

In [ ]:
In python, a variable must be declared before it is assigned a value.
1. true
2. false -- correct answer

In [ ]:
In python, a variable may be assigned a value of one type, and then later assigned a value of a different type.
a. true --- correct 
b. false

In [ ]:
keywords: keywords are reserved words in any programming languge which cannot be used as a variable name or 
    function name
if,while,for,return,def,False,with,import,break,continue,in,is

In [36]:
import keyword

In [37]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
variable name:
1.route66 --- valid
2.ver1.3
3.4squre
4.return
5.home_add ---  valid
6.Age --- valid

In [ ]:
employeenumber = 4568
EmployeeNumber = 4568
employeeNumber = 4568
Above statemets refers to different variables.

In [ ]:
pep8 --- multi word variable names
Snake Case
1. dist_to_nearest_town
camelcase
distToNearestTown 
pascalcase
DistToTheNearestTown
and python prefers snake case.

# Operators

In [ ]:
operators allows to perform different operations on operands.

In [ ]:
#Arithmatic operators:
   we can perform arithmatic operations by using them.

In [39]:
a = 15
b = 10
print("sum of above mentioned number is " ,a+b)

sum of above mentioned number is  25

In [40]:
print("Difference of given numbers is " , a-b)

Difference of given numbers is  5

In [ ]:
*,/,//(floor division),%-- returns remainder

In [41]:
a/5

3.0

In [42]:
a//5

3

In [43]:
7/2

3.5

In [44]:
7//2

3

In [45]:
7%2

1

In [46]:
2**2 #(for exponent use **)

4

In [47]:
2**8

256

In [ ]:
Comparison operator : return Boolean value

In [48]:
a = 15
b = 10

In [49]:
a>b

True

In [50]:
a<b

False

In [51]:
a==b

False

In [52]:
a!=b

True

In [53]:
a = 10
b = 10
a==b

True

In [ ]:
Logical operators:
    and, or , not
and returns true if both the conditions or input are true.
or returns true if any of the condition is true
not acts a invertor, true---- false, false---- true.

In [54]:
a = True
b = False

In [55]:
a and b

False

In [56]:
a or b

True

In [57]:
not a

False

In [58]:
not b

True

In [ ]:
#Membership operator
it will just check the presence of "chr" or any other object in python data container.
it returns true or false

In [59]:
a = "cetpa"

In [60]:
"e" in a

True

In [61]:
"b" in  "cetpa"

False

In [62]:
"C" in "cetpa"

False

In [63]:
"b" not in "cetpa"

True

In [65]:
"pa" in "ceta"

False

In [68]:
"1" in "1234"

True

In [69]:
a = ["ashish","varun","amit","vinay"]

In [70]:
"ashish" in a

True

In [71]:
"sakshi" in a

False

In [ ]:
#we can use membership operator on a datatype which are
#iterable eg: strings, list, tuple,dictionary,sets..