In [ ]:
Today we are going to learn how to make connection between python and mysql.
for that we should have mysql  installed in our system and python library pymysql should also be there.

In [1]:
import pymysql

In [ ]:
Making Connection with database test2 by using connect function.
1.#localhost , #user-name, #password , #DB-name

In [2]:
db = pymysql.connect("localhost", "root","","test2")

In [3]:
#To write MYSql Queries we need to make cursor object.
cursor = db.cursor()

In [ ]:
Now, as we know our database test2 consists of no tables, so therefore we need to first write the quey
to create a table.

In [4]:
sql = "create table emp(first_name varchar(30),last_name varchar(30),email varchar(40))"

In [5]:
cursor.execute(sql)

0

In [9]:
sql = """INSERT INTO emp(first_name,
   last_name, email)
   VALUES ('joe', 'sharma', "joe@gmail.com"),
          ("anjali","gupta","anj@gmail.com")"""

In [10]:
cursor.execute(sql)

2

In [11]:
db.commit()

In [28]:
sql = "select * from emp"

In [29]:
cursor.execute(sql)

2

In [31]:
cursor.fetchmany(2)

(('anjali', 'gupta', 'anj@gmail.com'),)

In [24]:
res = cursor.fetchone()

In [25]:
res

('joe', 'sharma', 'joe@gmail.com')

In [26]:
res1 = cursor.fetchone()

In [27]:
res1

('anjali', 'gupta', 'anj@gmail.com')

In [19]:
 result = cursor.fetchall()

In [20]:
result

(('joe', 'sharma', 'joe@gmail.com'), ('anjali', 'gupta', 'anj@gmail.com'))

In [21]:
type(result)

tuple

In [ ]:
#fetchone --- To fetch rows one by one.
#fetchall --- To fetch all the data once
#Fetchmany --- To fetch required no of rows.
#They always returns data stored in tuples.

In [33]:
import pandas as pd

In [34]:
df = pd.read_sql_query("select * from emp" , con = db)

In [35]:
df

  first_name last_name          email
0        joe    sharma  joe@gmail.com
1     anjali     gupta  anj@gmail.com

In [ ]:
Mysql w3schools --- learn it