In [ ]:
Abhi tak humne 3 functions discuss kie h , lists k
1. append
2. extend
3. insert
Similarity:
    All three are used to add elements in a existing list.
Difference:
    append only allows to add a element or a list of element at one/same index position.
    extend : it is used extend the list i.e we can add n number of elements.
    insert: to add a element at a specific index position.

In [ ]:
To remove the items from a list.
.remove() -- it is used to remove first occurence of the value.
.pop()--- it returns the element to be removed from the mentioned index position.

In [1]:
a = [1,2,3,4,5,6,7]

In [2]:
a.remove(5)

In [3]:
a

[1, 2, 3, 4, 6, 7]

In [4]:
a.pop()

7

In [5]:
a

[1, 2, 3, 4, 6]

In [7]:
a.pop(3)

4

In [8]:
a

[1, 2, 3, 6]

In [ ]:
#in remove we pass the value to be removed from a lit
#in pop we pass the index value of the element we want to remove from a list.

In [10]:
a=[1,2,3]
a.pop(1)
print(a)

[1, 3]

In [11]:
b = ["a","b","c","d","e","f"]

In [12]:
len(b)

6

In [ ]:
len() --- the number of elements present in a list

In [13]:
b.index("c") #To check the index position of particular value

2

In [17]:
b = ["a","b","c","d","e","f","a","b","a"]

In [18]:
b.count("a")#how many times a particular value occurs.

3

In [19]:
y=["a","b","a"]
y.count("a")

2

In [20]:
c = [101,201,678,99,7,56,89,98]

In [21]:
c.sort()

In [22]:
c #by default sorting happens in ascending order.

[7, 56, 89, 98, 99, 101, 201, 678]

In [25]:
c.sort(reverse= True)

In [26]:
c #By making reverse = True we can get output in descending order.

[678, 201, 101, 99, 98, 89, 56, 7]

In [27]:
d = c.copy() #To create a shallow copy of a existing list.

In [28]:
d

[678, 201, 101, 99, 98, 89, 56, 7]

In [ ]:
Functions of list.
1. append
2. Extend
3.insert
4.remove
5.pop
6.index
7.count
8.sort
9.copy.

# Tuples

In [ ]:
Similar to python lists,Tuples are another standard datatype that allows us to store values in a sequence.
They are useful in situations where we want to share the data with someone but not allow them to manipulate the data.
Tuples are initialized with ().

In [29]:
a = ("c",1,2,"e","t","pa")

In [30]:
a

('c', 1, 2, 'e', 't', 'pa')

In [31]:
type(a)

tuple

In [32]:
a[1]

1

In [33]:
len(a)#No of elements present in a list.

6

In [34]:
#It has only two functions.
a.index("pa")

5

In [ ]:
We use square bracket when we need to make a list or perform slicing from any data container.
we use parenthesis ( ) to make tuple and while calling any function.

In [38]:
x = 2
y = 5
z = 0

In [ ]:
find values of following expresssion

In [39]:
x==2

True

In [40]:
x!=5

True

In [41]:
x!=5 and y>=5

True

In [42]:
z!=0 or x==2

True

In [43]:
y = 5

In [44]:
!(y<10)

The system cannot find the file specified.

In [45]:
a = [12,56,89]

In [47]:
max(a)

89

In [48]:
a = int(input("Enter first number..."))
b = int(input("enter second number..."))

Enter first number...12
enter second number...34

In [49]:
c = []
c.append(a)
c.append(b)

In [50]:
c

[12, 34]

In [51]:
max(c)

34

In [ ]:
write a python program to convert temperature to and from celcius,farenhiet?

In [ ]:
C = 5/9 * F-32
F = 50
(5/9) * (50-32)
F = (9C + (32*5))/5

In [52]:
var = int(input("Enter a tempersture in Farehiet to convert into celcius..."))

Enter a tempersture in Farehiet to convert into celcius...140

In [53]:
new_var = (5/9) * (var-32)
print("temperature in celcius is.... " ,  new_var)

temperature in celcius is....  60.0

In [57]:
var=int(input("please enter tempreature in celcius to convert in fren."))
c=(9 * var+(32*5))/5
print("tempreature in fren is",c)

please enter tempreature in celcius to convert in fren.6
tempreature in fren is 42.8

In [ ]:
Write a python program to find those numbers which are divisible by 7and multiple of 5, between 1500 and 2700
(both included)
Write a python to count the number of even and odd numbers present in a list.
[1,4,6,8,9,12,15]