In [ ]:
what is the meaning of loop?
In computer programming, a loop is a sequence of instructions that is repeated until
a certain condition is reached. 
Aise circumstances jab hume koi ek task baar baar perform krna hota h tab hum loops ka use 
krte h kisi bhi programming language m.
In python:
    1. for loop
    2.  while loop

In [ ]:
For loop :
a. for element in sequence.
A for loop in python is used for iterating over a sequence(sequence can be a list,tuple,dict or string.)

In [2]:
fruits = [ "apple","mango","banana","cherry"]
#i want to display all the elements of a list one by one?

In [3]:
fruits[0]

'apple'

In [4]:
fruits[1]

'mango'

In [5]:
fruits[2]

'banana'

In [ ]:
As we noticed above that to print elements one by one
i need to call my index value with increment one by one.
This means i have to perform similar task again and again.
To avoid such problems python provides me for loop.
n i.e for value in sequence.
Syntax: for i(iterator) in(membership operator) sequence(list,tuple):
            Body of the loop.

In [11]:
for i in fruits:
    print(i)

apple
mango
banana
cherry

In [12]:
numbers = [4,5,6,7,8,1,2,3]
#I need sum of all numbers present in a list numbers.

In [15]:
#a variable to store a sum
sum = 0
#iterate over the loop
for i in numbers:
    sum = sum + i
print(sum)

36

In [16]:
#ab aapko multipication krna h.
mul= 1
#iterate over the loop
for i in numbers:
    mul = mul * i
print(mul)

40320

In [17]:
fruits

['apple', 'mango', 'banana', 'cherry']

In [ ]:
i need to print elements of a list fruits 
but now i want when i == banana then exit the loop.
mujhe loop s bhr aana h jaise hee i ki value banana 
ho jati h.
for such cases we use "break" keyword.
with the break statement we can stop the loop at a 
particular condition.

In [21]:
for i in fruits:
    print(i)
    if i == "banana":
        break
print("welcome")

apple
mango
banana
welcome

In [ ]:
wwrite a program using for loop and print "p","y","t" from "python."

In [27]:
a = []
for i in "python":
    print(i)
    if i == "t":
        break

p
y
t

In [ ]:
jab sirf i ki value t ho then mera loop execute na ho
uske baad jitni values bachti h unke liye normal chlta rhe
p
y
h
o
n

In [31]:
for i in "python":
    #print(i)
    if i == "t":
        continue
    print(i)

p
y
h
o
n

In [ ]:
There exist a function in python named as range() functioon:
 Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.

In [34]:
a = list(range(0,5))

In [35]:
a

[0, 1, 2, 3, 4]

In [ ]:
range also have 3 parameters
start, stop, step.

In [36]:
b = list(range(0,10,2))

In [37]:
b

[0, 2, 4, 6, 8]

In [ ]:
Appko ek python m list banani h jiska naam "odd" hoga and usme 1 se lekr
100 tk k odd numbers present hoga.
using range function.

In [40]:
odd=list(range(1,101,2))

In [42]:
print(odd, sep = " ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
#this for loop is someting known as index in range

In [44]:
for i in range(5):
    print(i)

0
1
2
3
4

In [45]:
fruits = ["apple","mango","banana","cherry"]

In [46]:
len("apple")

5

In [ ]:
apple  5
mango  5
banana 6
cherry 6
hint: range and len

In [47]:
fruits=["apple","mango","banana"]
for i in fruits:
    print(len(i))

5
5
6

In [49]:
fruits=["apple","mango","banana"]
for i in fruits:
    print(i,len(i))

apple 5
mango 5
banana 6

In [50]:
for i range(fruits):
    print(i)
range humesha input numeric value leta h -- integer leta h
kya fruits integer h? No, fruits is list

SyntaxError: invalid syntax (<ipython-input-50-1d4ca5f26874>, line 1)

In [53]:
len(fruits)

3

In [ ]:
For loop k two types hote h
1. for value in seqyence jo hume sequence(list,tuple or dict,string) m rakhe elements ki value return krta h
2. for index in range jo hume specified range k corresponding index value return krta h.
3. range function ka parameter humesha numeric hota h mtlb integer hota h.

In [54]:
for i in fruits:
    print(i)

apple
mango
banana

In [59]:
for i in range(len(fruits)):
    print(i,fruits[i],len(fruits[i]))

0 apple 5
1 mango 5
2 banana 6

In [57]:
genre = ["pop","rock","jazz"]
for i in range(len(genre)):
    print("I like " , genre[i])

I like  pop
I like  rock
I like  jazz

In [60]:
genre = ["pop","rock","jazz"]
for i in range(len(genre)):
    print("I like " , genre[i])
else:#loops k sath else is always executed.
    print("I really like music")

I like  pop
I like  rock
I like  jazz
I really like music

In [ ]:
WAP., Given a list iterate it and display numbers which are divisible by 5
and if you find number greater than 150 stop the loop iteration.
list1 = [12,15,32,42,55,75,122,132,150,180]
Expected output:
    15,55,75,150

In [61]:
list1 = [12,15,32,42,55,75,122,132,150,180]
for i in list1:
    if i >150:
        break
    if i%5 ==0:
        print(i)

15
55
75
150